[submodule "ouya-docs"]
	path = doc/ouya-docs
	url = git@github.com:ouya/docs
[submodule "ecl-android"]
	path = lib/ecl-android
	url = git@github.com:romance-ii/ecl-android
[submodule "ouya-odk"]
	path = lib/Ouya-ODK
	url = git@github.com:romance-ii/ouya-odk
